body {
  background: #eee;
  font-family: sans-serif;
}

.title {
  background: #e3f4ff;
  margin-top: 0;
  margin-bottom: 8px;
  font-size: 30px;
  padding: 8px;
  text-align: center;
}

/*.text {
  display: flex;
  align-items: left;
}*/
a:link,
a:visited {
  color: green;
  text-decoration: solid;
  cursor: auto;
}

a:link:active,
a:visited:active {
  color: pink;
}
/*  */
